:root {
    --background-color: #ffffff;
    --text: #1f1f1f;
  }
  
.dark-mode {
    --background-color: #1f1f1f;
    --text: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.title {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

